/**
 * global style configuration for body
 */

body {
	margin: 0px;
}

/**
 * Main header for splash pages
 */

.navbar {
	height: 100px;
}

/**
 * the logo used in the navbar
 */

.navbar-logo {
	background-image: url("../images/icon-g.png");
	background-repeat: no-repeat;
	float: left;
	width: 48px;
	height: 100px;
}

/**
 * Container with auto margins
 */

.container {
	margin: 0px auto;
	width: 1170px;
}
