body {
	/* margin: 0px; */
}

div#header {
	height: 40px;
	padding: 10px;
	background-image: url("../images/logo-nobg.png");
	background-repeat: no-repeat;
	background-position: 10px 10px;
	/* background-color: #4285f4; */
}
