body {
	font-family: sans-serif;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.1;
	color: #040d14;
}

.mbx {
	margin-bottom: 100px;
}

.mbl {
	margin-bottom: 60px;
}

.mbs {
	margin-bottom: 20px;
}

.mtx {
	margin-top: 100px;
}

.mtl {
	margin-top: 60px;
}

.mts {
	margin-top: 20px;
}

#lead_container {
	padding-top: 95px;
	padding-bottom: 95px;
}

.col-md-3,
.col-md-7 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-md-7 {
	float: left;
	width: 58%;
}

.col-md-3 {
	float: left;
	width: 33%;
}

.col-md-push-1 {
	left: 8%;
}

.animation-container {
	position: relative;
	width: 100%;
}

.animation-frame {
	width: 310px;
}

#grouptext-title {
	font-weight: 700;
	color: #040d14;
	line-height: 1.2;
}

.feature-header {
	font-weight: 300;
	font-size: 48px;
	letter-spacing: -1px;
}

.grouptext-tagline {
	margin-top: 45px;
	color: #151f25;
	line-height: 1.2;
}

.lead {
	color: #373f47;
	font-size: 24px;
	font-weight: 300;
	margin-top: 52px;
	margin-bottom: 52px;	
	line-height: 1.2;
}

.feature-block {
	display: block;
	background-color: #0371fe;
	color: white;
	padding-top: 95px;
	padding-bottom: 95px;
	clear: both;
}

.row {
}

.footer {
	background-color: #373f47;
	padding-top: 95px;
	padding-bottom: 95px;
}

.full-footer {
}

.feature-block::before,
.container::before,
#lead_container::before,
.lead::before,
.row::before {
	content: " ";
	display: table;
}

.feature-block::after,
.container::after,
#lead_container::after,
.lead::after,
.row::after {
	clear: both;
}

.awesomeBar {
	font-size: 26px;
	padding: 8px;
	width: 100%;
	border: 1px solid transparent;
}

.awesomeBar:focus {
	border: 1px dotted #ccc;
