<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="js/dashboard/main.js"></script>
	</head>
	<body>
		<script src="/js/fb-api.js"></script>   
		<% include ../includes/tiny-header.ejs %>	
		<div id="content">
			<div class="container">
				<div class="mtl mbl">
					<input class="awesomeBar" name="awesomeBar" id="awesomeBar" type="text" placeholder="Start typing anything...">
				</div>
				<div class="row mbx">
					<div class="col-md-3">
					</div>
					<div class="col-md-7">
					</div>
				</div>	
			</div>
			<!-- <% include ../includes/footer.ejs %> -->
		</div>
	</body>
</html>
