<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/header.css">
	</head>
	<body>
		<% include ../includes/header.ejs %>
		<h1><%= message %></h1>
	</body>
</html>
